<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <onelogin translate="label">
                    <label>Onelogin</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                        <fields>
                            <app_id translate="label comment">
                                <label>Application ID</label>
                                <comment><![CDATA[Take it from URL of Onelogin application. e.g. yourcompany.onelogin.com/apps/123456 -> 123456]]></comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>1</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                            </app_id>
                            <certificate translate="label">
                                <label>x.509 certificate</label>
                                <frontend_type>textarea</frontend_type>
                                <sort_order>5</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                            </certificate>
                        </fields>
                </onelogin>
            </groups>
        </dev>
    </sections>
</config>